@font-face {
	font-family: "Poppins";
	src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	font: normal 400 100%/1 "Poppins", sans-serif;
}

/* nav */

.desktop-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin: 0 5%;
	max-width: 1440px;
	position: relative;
}

.desktop-nav a,
.nav-links-mobile a {
	text-decoration: none;
	font: normal 700 18px/27px "Poppins", sans-serif;
	color: black;
}

.logo img {
	width: 230px;
	height: 52px;
}

.desktop-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 35%;
}

.mobile-menu {
	display: none;
	overflow: hidden;
}

.nav-links-mobile {
	background-color: #fff;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(-100%);
	transition: transform 0.3s ease-out, max-height 0.3s ease-out;
	max-height: 0;
	overflow: hidden;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.hamburger .close-icon,
.hamburger .menu-icon {
	display: none;
}

@media (max-width: 800px) {
	.desktop-menu,
	.cart {
		display: none;
	}

	.mobile-menu {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nav-links-mobile {
		flex-direction: column;
		width: 100%;
	}

	.hamburger {
		display: block;
	}

	.hamburger .close-icon {
		display: none;
	}

	.hamburger .menu-icon {
		display: block;
	}

	.hamburger.active .close-icon {
		display: block;
	}

	.hamburger.active .menu-icon {
		display: none;
	}

	.mobile-menu.active .nav-links-mobile {
		transform: translateY(0);
		max-height: 500px;
	}
}

/* top-section */

.top-section {
	display: flex;
	gap: 30px;
	padding: 20px;
	margin: 0 5%;
	max-width: 1440px;
	flex-wrap: wrap;
}

.top-section-content01,
.top-section-content02 {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
}

.text-container h1 {
	font: normal 700 35px/1 "Poppins", sans-serif;
	margin: 0;
}

.text-container p {
	font: normal 400 15px/1 "Poppins", sans-serif;
	color: #969696;
}

.video-container {
	width: 100%;
}

.instruction-video {
	padding-top: 60%;
	background: url("./assets/instruction_video.png") no-repeat center/cover;
	border-radius: 20px;
}

.top-section-buttons {
	display: flex;
	min-height: 50px;
	width: 100%;
	gap: 30px;
}

.shop-button,
.explore-button {
	align-items: center;
	width: 100%;
	border: 2px solid #b2a565;
	border-radius: 10px;
	font: normal 700 15px/27px "Poppins", sans-serif;
}

.shop-button {
	background-color: #b2a565;
	color: #ffffff;
}

.explore-button {
	background-color: white;
	color: #000000;
}

.container-hero-image {
	height: 100%;
	width: 100%;
}

.hero-image {
	background: url("./assets/hero_image.png") no-repeat center/cover;
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

@media (max-width: 768px) {
	.top-section {
		flex-direction: column; /* On mobile devices, stack items vertically */
	}
	.hero-image {
		height: 300px; /* adjust this value according to your needs */
	}
}

/* usp-section */

.usp-section {
	display: flex;
	column-gap: 30px;
	padding: 50px 20px 20px 20px;
	margin: 0 5%;
	max-width: 1440px;
	justify-content: space-between;
}

.usp-image-container {
	width: 100%;
	flex: 1;
	max-width: 600px;
	height: auto;
}

.usp-image {
	background-image: url("./assets/usp_image.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
	border-radius: 20px;
	width: 100%;
}

.usp-content-container {
	flex: 1;
	width: 100%;
}

.usp-text-container h2 {
	margin: 0;
	font-weight: 700;
	font-size: 35px;
	line-height: 40px;
	color: var(--dark-color);
}

.usp-text-container p,
.usp-list p {
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
	color: var(--light-color);
	margin: 0;
}

.usp-list {
	display: flex;
	gap: 10px;
	margin: 0px;
}

.usp-icon {
	margin: 10px 0px;
	color: green;
}

@media screen and (max-width: 600px) {
	.usp-section {
		flex-direction: column-reverse;
		gap: 30px;
		flex-wrap: wrap;
	}
}

/* product-section */
.product-section {
	max-width: 1440px;
	margin: 0 5%;
	display: flex;
	padding: 50px 20px 50px 20px;
	column-gap: 30px;
	justify-content: space-between;
}

.text-container {
	width: 100%;
	text-align: center;
}

.text-container h3 {
	font-weight: 700;
	font-size: 35px;
	line-height: 40px;
	color: var(--dark-color);
	margin: 0px;
}

.text-container p,
.measureBtn {
	font-weight: 400;
	font-size: 15px;
	color: var(--light-color);
}

.image-container {
	width: 100%;
	height: auto;
}

.image-product {
	background-image: url("./assets/product.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 100%;
	border-radius: 20px;
}

@media screen and (max-width: 600px) {
	.product-section {
		flex-direction: column;
		flex-wrap: wrap;
		padding-bottom: 0px;
	}

	.text-container {
		margin-bottom: 40px;
	}

	.measureBtn {
		width: 50%;
		border: 2px solid var(--button-color);
		border-radius: 10px;
		background-color: var(--button-color);
		font-weight: 700;
		line-height: var(--button-line-height);
		color: black;
	}
}
