/* Add box-sizing: border-box; to all elements */
* {
	box-sizing: border-box;
}

/* Position the button at the bottom center of the page */
.price-button {
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
	color: white;
	border: 1px solid black;
	background-color: gray;
}

/* Center the form in the viewport */
.price-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	width: 100%;
	height: 100%;
	background-color: white;
}

.confirmation {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
}

/* Style the form input fields */
.price-form input {
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
	border: 1px solid black;
	border-radius: 0%;
}

.buttons-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 20px; /* Adjust as needed */
}

/* Style the form submit button */
.price-form-submit-button {
	width: 100%;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
	background-color: gray;
	border: 1px solid black;
	color: white;
}

.price-form-return-button {
	width: 30%;
	padding: 15px;
	font-size: 18px;
	font-weight: bold;
	background-color: gray;
	border: 1px solid black;
	color: white;
}
